body{
    background-color: #E6E6FA;
    color: #191970;
    font-family: Arial, Verdana, sans-serif;
}

h1{
    color: #E6E6FA;
    background-color: #191970;
    font-family: Georgia, "Times New Roman", serif;
    height: 90px;
    padding-left: 35px;
    padding-top: 45px;
    
}

h2{
    position: relative;
    text-align: center;
    color: #191970;
    background-color: #AEAED4;
    font-family: Georgia, "Times New Roman", serif;
    border-bottom:  3px dotted #191970;
}

p.texto{
    position: relative;
    left: 50px;
}

hr{
    border-top: solid 1px  #AEAED4;
}

p.rodape{
    color: rgb(98, 98, 119);
}